<div class="container">
  <div class="field">
    <h1 id="intro" class="mat-display-4">How are you feeling today?</h1>
    <!-- <h3>{{channelID}}</h3> -->
    <div class="fillmood">
      <div>
        <!-- <mat-form-field class="input" appearance="fill">
                  <mat-label>Tell us your mood: </mat-label>
                  <input matInput type="text" placeholder="Ex. Happy" [formControl]="mood_formcontrol"/>
                </mat-form-field> -->
        <mat-form-field appearance="fill" class="input">
          <mat-label>Ex. Happy</mat-label>
          <mat-select [formControl]="this.mood_formcontrol">
            <mat-option *ngFor="let mood of moods" [value]="mood.value">
              {{mood.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button class="btn" mat-fab color="primary" (click)="submitMood()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
  <div>

  </div>
</div>