.field {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;   
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    top: 30%;
    width: 50%;
}

.container {
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: #fada5f;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:  center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -4;
    text-align: center;   
    align-items: center;
}

.input {
    width: 500px;
    padding-right: 20px;
}

.title{
    text-align: center;   
    justify-content: center;
    align-items: center;
    font-size: 5em;
    /* font-family: "Roboto", sans-serif; */
    height: 30%;
    margin-right: 0;
    margin-bottom: 30px;
    line-height: 1.0;
}

.fillmood{
    display: flex;
    text-align: center;   
    justify-content: center;
    /* align-items: center; */
    width: 100%;
}

.btn{
}

mat-icon {
    font-family: 'Material Icons' !important;
}

#intro {
    font-family: Raleway /* Replace with your custom font */, sans-serif !important; 
    white-space: nowrap;
    border-right: .12em solid orange;
    overflow: hidden;
    margin: 10 auto;
    padding: 5;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0;}
    to {width: 100%;}
}
@keyframes blink-caret {
    from, to {border-color: transparent;}
    50% {border-color: black;}
}