<div class="container">
    <div class="content">
        <div class="track">
            <div class="imgholder">
                <img class="image" src="../../../assets/img/bg.jpg">
            </div>
            <div class="text">
                <h1>Title</h1>
                <p>Artist Name</p>
            </div>
        </div>
        <div class="btngroup">
            <button class="btn" mat-raised-button color="primary" (click)="back()">Back to Home</button>
            <button class="btn" mat-raised-button color="primary" (click)="changeMood()">Change Mood</button>
            <button class="btn" mat-raised-button color="primary" (click)="nextChannel()">Next Channel</button>
        </div>
    </div>
</div>